# SPDX-License-Identifier: GPL-2.0-or-later

# Renesas RA2L1 (Cortex-M23)

if { [info exists CHIPNAME] } {
	set _CHIPNAME $CHIPNAME
} else {
	set _CHIPNAME ra2l1
}

source [find target/swj-dp.tcl]

swj_newdap $_CHIPNAME cpu -irlen 4

dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME cortex_m -dap $_CHIPNAME.dap

if { [info exists WORKAREASIZE] } {
	set _WORKAREASIZE $WORKAREASIZE
} else {
	# RA2L1 SRAM: 32 KiB
	set _WORKAREASIZE 0x6000
}

$_TARGETNAME configure -work-area-phys 0x20000000 -work-area-size $_WORKAREASIZE -work-area-backup 0

if { ![using_hla] } {
	cortex_m reset_config sysresetreq
}

flash bank $_CHIPNAME.code ra2l1 0x00000000 0x00040000 0 0 $_TARGETNAME
flash bank $_CHIPNAME.data ra2l1 0x40100000 0x00002000 0 0 $_TARGETNAME

adapter speed 1000
