# SPDX-License-Identifier: GPL-2.0-or-later

# Renesas RA8D1 (Cortex-M85)

if { [info exists CHIPNAME] } {
	set _CHIPNAME $CHIPNAME
} else {
	set _CHIPNAME ra8d1
}

source [find target/swj-dp.tcl]

swj_newdap $_CHIPNAME cpu -irlen 4

dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME cortex_m -dap $_CHIPNAME.dap

if { [info exists WORKAREASIZE] } {
	set _WORKAREASIZE $WORKAREASIZE
} else {
	# RA8D1 SRAM: 896 KiB (0x2200_0000)
	set _WORKAREASIZE 0x10000
}

$_TARGETNAME configure -work-area-phys 0x22000000 -work-area-size $_WORKAREASIZE -work-area-backup 0

if { ![using_hla] } {
	cortex_m reset_config sysresetreq
}

flash bank $_CHIPNAME.code ra8d1 0x02000000 0x001F8000 0 0 $_TARGETNAME
flash bank $_CHIPNAME.data ra8d1 0x27000000 0x00003000 0 0 $_TARGETNAME
flash bank $_CHIPNAME.ospi ra8d1_ospi 0x90000000 0 0 0 $_TARGETNAME

adapter speed 1000
